<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS内容管理系统</title>
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/feedback.css" />
    <script type="text/javascript" src="js/details.js"></script>
</head>
<body>
{include file='header.html'}
<div id="feedback">
    <h2>评论列表</h2>

    <h3>{$titlec}</h3>
    <p class="info">{$info}<a href="details.php?id={$id}" target="_blank">[详情]</a></p>


    {if $AllComment}
    {foreach from=$AllComment  key=key  item=value}
    <dl>
        <dt><img src="images/{$value->face}" alt="{$value->user}" /></dt>
        <dd><em>{$value->date} 发表</em><span>[{$value->user}]</span></dd>
        <dd class="info">[{$value->manner}]{$value->content}</dd>
        <dd class="bottom"><a href="feedback.php?cid={$value->cid}&id={$value->id}&type=sustain">[{$value->sustain}]支持</a> <a href="feedback.php?cid={$value->cid}&id={$value->id}&type=oppose">[{$value->oppose}]反对</a></dd>
    </dl>
    {/foreach}
    {else}
    <dl>
        <dd style="text-align: center">此文档没有任何评论！</dd>
    </dl>
    {/if}
    <div id="page">{$page}</div>

</div>
<div id="sidebar">
    <h2>热评文档</h2>
    <ul>
        <li><em>06-20</em><a href="###">银监会否认首套房贷首付将提至...</a></li>
        <li><em>04-02</em><a href="###">发改委曝房价违规开发商名单央...</a></li>
        <li><em>02-13</em><a href="###">社科院预测更严厉楼市政策年内...</a></li>
        <li><em>05-05</em><a href="###">比亚迪拟“缩水”回归A股 以缓解...</a></li>
        <li><em>07-11</em><a href="###">第一线：北京限制高价盘预售证...</a></li>
        <li><em>03-18</em><a href="###">电网主辅分离或年内完成 葛洲坝...</a></li>
        <li><em>05-02</em><a href="###">京沪高铁将于6月9日起试运行10...</a></li>
    </ul>
</div>

<div class="d5">
    <form method="post" name="comment" action="feedback.php?cid={$smarty.get.cid}">
        <p>你对本文的态度：<input type="radio" name="manner" value="1" checked="checked" /> 支持
            <input type="radio" name="manner" value="0" /> 中立
            <input type="radio" name="manner" value="-1" /> 反对
        </p>
        <p class="red">请互联网规则，不要发表关于政治、反动、色情之类的评论。</p>
        <p><textarea name="content"></textarea></p>
        <p style="position:relative;top:-5px;">
            验证码：<input type="text" class="text" name="code" />
            <img src="Conf/code.php" onclick="javascript:this.src='Conf/code.php?tm='+Math.random();" class="code" />
            <input type="submit" class="submit" onclick="return checkComment();" name="send" value="提交评论" />
        </p>
    </form>
</div>


{include file='footer.html'}
</body>
</html>